.body,
.footer,
.header {
    padding: 0.5em 0.5em 0.5em;
}
.header {
    border-bottom: 2px solid var(--chakra-colors-border-emphasized);
    justify-content: space-between;
    display: flex;
}

.content {
    border: 1px solid var(--chakra-colors-border-emphasized);
}

.title {
    padding-top: 0.2em;
}
