@import "flags.css";
@layer tailwind-base, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family), sans-serif;
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 960px) {
    .p-menubar-start {
        padding-right: 4px
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 213);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(174, 174, 177);
}

.dialog-modal.active {
    z-index: 500;
}

.confirmation-modal {
    z-index: 501;
}
