
.system-outer .dock-window {
    width: 100%;
    position: relative;
    background-image: url('./assets/wallpaper.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.system-outer .p-dock {
    z-index: 1000;
}
.system-outer .dock-advanced .p-dialog-mask, .system-outer .dock-advanced .p-galleria-mask, .system-outer .dock-advanced .p-galleria-mask .p-galleria-item-nav, .system-outer .dock-advanced .p-toast {
    position: absolute;
}
.system-outer .dock-advanced .p-dialog .p-dialog-header {
    padding: 0.2rem;
}
.system-outer .dock-advanced .p-dialog .p-dialog-content {
    padding: 0;
}
.system-outer .dock-advanced .p-dialog p {
    margin-top: 0;
}
.system-outer .dock-advanced .p-dialog .p-terminal {
    background-color: #212121;
    color: #fff;
    border: 0 none;
    min-height: 18rem;
    height: 100%;
}
.system-outer .dock-advanced .p-dialog .p-terminal .p-terminal-command {
    color: #80cbc4;
}
.system-outer .dock-advanced .p-dialog .p-terminal .p-terminal-prompt {
    color: #ffd54f;
}
.system-outer .dock-advanced .p-dialog .p-terminal .p-terminal-response {
    color: #9fa8da;
}
.system-outer .dock-advanced .p-dialog .p-tree {
    height: 100%;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}
.system-outer .dock-advanced .p-toast {
    top: 20px;
}
.system-outer .p-menubar {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
}
.system-outer .p-menubar .menubar-root {
    font-weight: bold;
    padding: 0 1rem;
}
.system-outer .p-menubar .p-menuitem-link {
    padding: 0.5rem 0.75rem;
}
.system-outer .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    padding: 0.5rem 0.75rem;
}
.system-outer .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-submenu-icon {
    display: none;
}
.system-outer .p-menubar .p-menubar-end span, .system-outer .p-menubar .p-menubar-end i {
    padding: 0 0.75rem;
}
.dark-tooltip .p-tooltip .p-tooltip-arrow {
    border-top-color: var(--surface-900);
}
.dark-tooltip .p-tooltip .p-tooltip-text {
    background-color: var(--surface-900);
}

.terminal-dialog .p-dialog-content {
    padding: 0;
}

.p-dialog-header {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.p-dialog-header-icons {
    padding-top: 0.45rem;
}
